{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left">
        {% if errors|length > 0 %}
            <div>
                {% for error in errors %}
                    <p class="error"><b>{{ error.field }}:</b> {{ error.message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <p>Если вы регистрировали свой email через direct'ы и уверены, что ваш аккаунт уже сохранён в Clio 2.0, то для регистрации достаточно указать email, имя вашего эккаунта на friendfeed и желаемое имя на FreeFeed.</p>
        <p>Если вы дополнительно укажете API Key вашего эккаунта friendfeed, то этот сайт сможет запросить у Clio статус вашего архива.</p>
        <p>Этот сайт ни при каких условиях <b>НЕ СОХРАНЯЕТ</b> API Key, а использует его только для разовой авторизации на сервисе Clio.</p>
    </div>

    <div class="content content_right">
        <p><span class="mini">Для того, что бы зарезервировать для себя имя на FreeFeed и перенести свои данные (комментарии, записи) с friendfeed на FreeFeed, заполните:</span></p>

        <div class="register-form__wrapper">
            <form class="register-form" action="{{ path('register_submit') }}" method="post">
                <div  class="register-form__label-wrapper">
                    <label for="email">Ваш контактный адрес:</label>
                </div>
                <div  class="register-form__field-wrapper">
                    <input class="register-form__text-input" id="email" name="email" type="text" placeholder="Email" value="{{ email|default('') }}" />
                </div>

                <div class="register-form__label-wrapper">
                    <label for="friendfeed_username">Имя на friendfeed:</label>
                </div>
                <div class="register-form__field-wrapper">
                    <input class="register-form__text-input" id="friendfeed_username" name="friendfeed_username" type="text" placeholder="Username" value="{{ friendfeed_username|default('') }}" />
                </div>

                <div class="register-form__label-wrapper">
                    <label for="api_key" title="Этот ключ используется разово, для привязки аккаунта. Мы не сохраняем его">Ключ API (<a href="https://friendfeed.com/account/api" target="_blank">где он?</a>):</label>
                </div>
                <div class="register-form__field-wrapper">
                    <input class="register-form__text-input" id="api_key" name="api_key" type="password" placeholder="(optional) API key" title="Этот ключ используется разово, для привязки аккаунта. Мы не сохраняем его"/>
                </div>

                <div class="register-form__checkbox-container">
                    <div class="register-form__checkbox-wrapper">
                        <input class="register-form__checkbox" id="restore_me" name="restore_me" type="checkbox" value="true"/>
                    </div>
                    <label for="restore_me" class="register-form__checkbox-label">восстановить контент моего экаунта на новом сервисе FreeFeed</label>
                </div>

                <div class="register-form__submit-wrapper">
                    <button class="register-form__submit" type="submit">Зарегистрироваться на<br/>FreeFeed</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
