{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left-wide">
        <h2>Привет {{ username }},</h2>

        {% if account_validated %}
            <p>Мы знаем ваш емейл: <b>{{ email }}</b> (и сможем сообщить новости)</p>

            {% if freefeed_status == 'in' %}
                <p>Мы помним, что вы попросили восстановить контент вашего аккаунта на FreeFeed</p>

                <form action="{{ path('status_submit') }}" method="post"><input type="hidden" name="status" value="undecided"><button type="submit">Больше не хочу!</button></form>
            {% elseif freefeed_status == 'out' %}
                <p>Мы помним, что вы попросили не восстановливать ваш аккаунт на FreeFeed</p>

                <form action="{{ path('status_submit') }}" method="post"><input type="hidden" name="status" value="undecided"><button type="submit">Вообще-то хочу!</button></form>
            {% else %}
                <p>Мы помним, что вы хотите иметь аккаунт на FreeFeed, но при этом не дали нам разрешение восстанавливать контент вашего аккаунта на FreeFeed</p>

                <form action="{{ path('status_submit') }}" method="post"><input type="hidden" name="status" value="in"><button type="submit">Вообще-то разрешаю!</button></form>
                <form action="{{ path('status_submit') }}" method="post"><input type="hidden" name="status" value="out"><button type="submit">И аккаунт не хочу!</button></form>
            {% endif %}

            {% if freefeed_status != 'out' %}
                <p><a href="https://freefeed.net/">Альфа-версия FreeFeed</a> уже запущена. Если вы хотите попробовать пользоваться ей, то нажмите кнопку ниже:</p>
                <form action="{{ path('pepyatka_submit') }}" method="post">
                    <button type="submit">Хочу!</button>
                </form>
            {% endif %}

            {% if clio_info is defined and clio_info != false %}
                <p>Поскольку вы авторизовались через Remote Key мы также можем показать вам информацию из <a href="http://clio.freefeed.net/">Clio</a> (пройдите по ссылке если хотите скачать доступные вам архивы):</p>

                <h3>Ваш фид:</h3>
                <p>{{ clio_info.fid }}: {{ clio_info.status }}</p>

                <h3>Ваши подписки:</h3>
                <ul>
                    {% for record in clio_subscriptions if record.status == 'ready' %}
                        <li>{{ record.fid }}: {{ record.status }}</li>
                    {% endfor %}

                    {% for record in clio_subscriptions if (record.status == 'processing' or record.status == 'requested') %}
                        <li style="color: orange">{{ record.fid }}: {{ record.status }}</li>
                    {% endfor %}

                    {% for record in clio_subscriptions if (record.status == 'new' or record.status == 'error' or record.status == 'forbidden') %}
                        <li class="error">{{ record.fid }}: {{ record.status }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}
            <p>К сожалению, мы не смогли валидировать ваш аккаунт в автоматическом режиме. Если вы можете доказать что этот аккаунт действительно принадлежит вам, то напишите нам, пожалуйста по адресу <a href="mailto:freefeed.net@gmail.com">freefeed.net@gmail.com</a> и мы постараемся разобраться в этой ситуации как можно быстрее.</p>
        {% endif %}
    </div>
{% endblock %}
